<%- include("partials/header") -%>


  <main role="main" class="inner cover">
    <h1 class="cover-heading">Contacts </h1>


<i>
  <h2 class="cover-heading"> Prabhat Tomar</h2>
  <h2 class="cover-heading">Email- prabhat.tomar@yahoo.com</h2>
  <h2 class="cover-heading">Phone no.-6393948215</h2>
</i>



  </main>

<%- include("partials/footer") -%>
